<%- include('../layouts/head', { settings, pageTitle: locals.pageTitle, pageDescription: locals.pageDescription, pageScript: locals.pageScript }) %>
<%- include('../partials/topbar', { settings, navigation }) %>

<article class="blog-post-detail">
    <% if (blogPost.coverImageUrl) { %>
    <div class="blog-post-hero" style="background-image: url('<%= blogPost.coverImageUrl %>')"></div>
    <% } %>

    <div class="blog-post-header">
        <% if (blogPost.category) { %>
        <span class="blog-tag"><%= blogPost.category.name %></span>
        <% } %>
        <h1><%= blogPost.title %></h1>
        <div class="blog-meta">
            <% if (blogPost.authorName) { %>
            <span><%= blogPost.authorName %></span>
            <% } %>
            <% if (blogPost.publishedAt) { %>
            <span><%= new Date(blogPost.publishedAt).toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }) %></span>
            <% } %>
            <% if (blogPost.readTime) { %>
            <span><%= blogPost.readTime %></span>
            <% } %>
        </div>
    </div>

    <div class="blog-post-body">
        <%- blogPost.content %>
    </div>
</article>

<%- include('../partials/footer', { settings, navigation, socialLinks }) %>
<%- include('../layouts/foot', { pageScript: locals.pageScript }) %>
